@page "/executor"
@page "/executor/{executorId:long}"
@inject IExecutorService ExecutorService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@if (executor == null)
{
    <span>Загрузка...</span>
    <div class="@messageCssClass">
        <span>@message</span>
    </div>
}
else
{
    <h3>Исполнитель</h3>
    <div class="name">
        <h5>Имя</h5>
        <span>@executor.Name</span><br />
    </div>
    <div class="inn">
        <h5>ИНН</h5>
        <span>@executor.INN</span><br />
    </div>
    <div class="contact">
        <h5>Контакт</h5>
        <span>@executor.Contacts[0].Address</span><br />
    </div>
    <MudTable Items="executor.Speciality" Hover="true" Striped="true" Dense="true" Class="mb-2">
        <HeaderContent>
            <MudTh>Специальности</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.SpecialityName</MudTd>
        </RowTemplate>
    </MudTable>
    <MudTable Items="executor.Competency" Hover="true" Striped="true" Dense="true" Class="mb-2">
        <HeaderContent>
            <MudTh>Навыки</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.CompetencyName</MudTd>
        </RowTemplate>
    </MudTable>

    @if (IsMine)
    {
        <MudButton class="btn btn-danger" @onclick="@(Delete)">
            <i class="oi oi-trash"></i>&nbsp;&nbsp;&nbsp;Удалить
        </MudButton>
    }

    <div class="@messageCssClass">
        <span>@message</span>
    </div>
}

@code {
    [Parameter]
    public long? ExecutorId { get; set; }

    private WebExecutor executor;

    public long Id { get; set; }

    public bool IsMine { get; set; } = false;

    public long userId { get; set; }

    string message = string.Empty;
    string messageCssClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        userId = long.Parse(await LocalStorage.GetItemAsStringAsync("id"));
        if (ExecutorId == null)
        {

            var request = await ExecutorService.ExistExecutor(userId);
            if (request.Success)
            {
                if (request.Data != 0)
                {
                    Id = request.Data;
                    await GetData(Id);
                }
                else
                {
                    NavigationManager.NavigateTo("createexecutor");
                }

            }
            else
            {
                message = request.Message;
                messageCssClass = "text-danger";
            }
        }
        else
        {

            await GetData(ExecutorId.Value);
        }
    }

    async Task GetData(long executorId)
    {
        var executorRequest = await ExecutorService.GetExecutor(executorId);
        if (executorRequest.Success)
        {
            executor = executorRequest.Data;
            if (executor.UserId == userId) IsMine = true;
        }
        else
        {
            message = executorRequest.Message;
            messageCssClass = "text-danger";

        }
    }

    async Task Delete()
    {
        var result = await ExecutorService.DeleteExecutor(userId);
        if (result.Success)
        {
            NavigationManager.NavigateTo("createexecutor");
        }
        else
        {
            message = result.Message;
            messageCssClass = "text-danger";
        }
    }

}
